---
import MySiteLayout from "../layouts/MySiteLayout.astro";
import { getCollection } from "astro:content";

const nonDraftDevPosts = await getCollection("dev", ({ data }) => !data.draft);
const nonDraftSecPosts = await getCollection("sec", ({ data }) => !data.draft);
const nonDraftOpsPosts = await getCollection("ops", ({ data }) => !data.draft);
---

<MySiteLayout title="Blog">
  <h1>Posts</h1>
  <ul>
    {
      nonDraftDevPosts.map((post) => (
        <li>
          <a href={`${post.collection}/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
    {
      nonDraftSecPosts.map((post) => (
        <li>
          <a href={`${post.collection}/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
    {
      nonDraftOpsPosts.map((post) => (
        <li>
          <a href={`${post.collection}/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</MySiteLayout>
