---
const { categories } = Astro.props;
const colors = {
    development: "bg-blue-500/50",
    security: "bg-yellow-500/50",
    operations: "bg-green-500/50",
};
const [, lang] = Astro.url.pathname.split("/");
---

<aside class="flex flex-row flex-wrap md:justify-end max-w-xl">
    {
        categories?.map((category) => (
            <a
                href={`${Astro.url.origin}/${lang}/${category}/`}
                class={`${colors[category]} p-1 rounded m-1 h-fit w-fit`}
            >{`#${category}`}</a>
        ))
    }
</aside>
