---
const { startYear, startMonth } = Astro.props;
---

<span id="duration"></span>

<script is:inline define:vars={{ startYear, startMonth }}>
    const p = document.getElementById("duration");
    const text = calculateDuration(startYear, startMonth);
    if (p) {
        p.textContent = text;
    }

    function calculateDuration(startYear, startMonth) {
        const nowYear = new Date().getFullYear();
        const nowMonth = new Date().getMonth() + 1;
        if (startMonth < nowMonth) {
            const diffYear = nowYear - startYear;
            const diffMonth = nowMonth - startMonth;
            if (diffYear > 0) {
                return ` ${diffYear} ${diffYear === 1 ? "year" : "years"} ${diffMonth} ${diffMonth === 1 ? "month" : "months"}`;
            }
        } else if (startMonth === nowMonth) {
            const diffYear = nowYear - startYear;
            return `${diffYear} ${diffYear === 1 ? "year" : "years"}`;
        } else {
            const diffMonth = 12 - startMonth + nowMonth;
            const diffYear = nowYear - startYear - 1;
            if (diffYear > 0) {
                return `${diffYear} ${diffYear === 1 ? "year" : "years"} ${diffMonth} ${diffMonth === 1 ? "month" : "months"}`;
            }
            return `${diffMonth} months`;
        }
        return null;
    }
</script>
