---
import { getEntry } from "astro:content";
import { useTranslations } from "../i18n/utils";

const { previousPost, nextPost } = Astro.props;
const [, lang] = Astro.url.pathname.split("/");

const t = useTranslations(lang as "en" | "sr");

const next = nextPost && (await getEntry("posts", nextPost));
const prev = previousPost && (await getEntry("posts", previousPost));
---

<nav>
    <ul class="flex flex-col lg:flex-row justify-around list-none p-0 lg:p-0">
        <li class="flex justify-center px-4">
            {
                previousPost && (
                    <a href={`${Astro.url.origin}/${previousPost}`}>
                        🠬 {prev?.data.title}
                    </a>
                )
            }
        </li>
        <li class="flex justify-center px-4">
            <button
                id="back-to-top-btn"
                class="p-2 prose-invert dark:prose bg-zinc-900 text-zinc-100 dark:bg-zinc-100 mx-4 rounded hover:shadow-md hover:shadow-blue-500 hover:text-blue-500"
                >{t("navCtl.backToTop")} 🠭</button
            >
        </li>
        <li class="flex justify-center px-4">
            <a href={`${Astro.url.origin}/${lang}/`}
                >{t("navCtl.backToHomepage")} 🏠</a
            >
        </li>
        <li class="flex justify-center px-4">
            {
                nextPost && (
                    <a href={`${Astro.url.origin}/${nextPost}`}>
                        {next?.data.title} 🠮
                    </a>
                )
            }
        </li>
    </ul>
</nav>

<script>
    const top = document.querySelector("#back-to-top-btn");
    top?.addEventListener("click", () => {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    });
</script>
