---
import Categories from "@components/Categories.astro";
import PostNavControls from "@components/PostNavControls.astro";
import RelatedPosts from "@components/RelatedPosts.astro";
import SiteLayout from "./SiteLayout.astro";
import ToC from "@components/ToC.astro";
import { getEntry } from "astro:content";

const { frontmatter, headings } = Astro.props;
const date = new Date(frontmatter.date);

const author = await getEntry("authors", frontmatter.author);

const [authorLang, authorId] = author.id.split("/");

const { lang } = Astro.params;
---

<SiteLayout title={frontmatter.title}>
    <main class="max-w-3xl md:mx-auto">
        <article>
            <header class="flex justify-between flex-col md:flex-row">
                <hgroup class="flex flex-col">
                    <h1 class="mb-0 lg:mb-0">{frontmatter.title}</h1>
                    <p>
                        By&nbsp;<cite class="author">
                            <a
                                rel="author"
                                href={`${Astro.url.origin}/${authorLang}/${author.collection}/${authorId}`}
                                >{
                                    `${author.data.firstName} ${author.data.lastName}`
                                }</a
                            >
                        </cite>&nbsp;on&nbsp;
                        <time pubdate datetime={frontmatter.date}
                            >{date.toLocaleDateString(lang)}</time
                        >
                    </p>
                </hgroup>
                <section>
                    <Categories categories={frontmatter.categories} />
                </section>
            </header>
            <p class="lead">{frontmatter.abstract}</p>
            <aside class="table-of-contents">
                <ToC
                    headings={headings}
                    relatedPosts={frontmatter.relatedPosts}
                />
            </aside>
            <section class="main-post-section">
                <slot />
            </section>
            {
                frontmatter.relatedPosts && (
                    <section id="related-posts">
                        <RelatedPosts posts={frontmatter.relatedPosts} />
                    </section>
                )
            }
        </article>
    </main>
    <section class="my-10 min-w-full">
        <PostNavControls
            nextPost={frontmatter.nextPost}
            previousPost={frontmatter.previousPost}
        />
    </section>
</SiteLayout>
